<li class="internal-link">
	<a href="/cloud">
		<i class="fa fa-cloud"></i> Cloud
	</a>
</li>

<li class="internal-link">
	<a href="/software">
		<i class="fa fa-gears"></i> Software Tech
	</a>
</li>

<li class="internal-link">
	<a href="/hardware">
		<i class="fa fa-square"></i> Hardware Tech
	</a>
</li>

<li class="link">
	<a href="/contact">
		<i class="fa fa-envelope"></i> Contact
	</a>
</li>
